.about {
  width: 100%;
  background-color: #f4f5f7;
  padding: 44px 15px;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
    margin: 0 29px 0 0;
    padding: 77px 0 76px 0;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin: 0 0 0 0;
  }
}
.article__title {
  margin: 0;
  padding: 10px 0 0 0;
  line-height: 32px;
  font-weight: 700;
  font-size: 22px;
}
.article__text {
  margin: 0;
  padding: 8px 0 0 0;
  line-height: 32px;
  font-size: 22px;
}
@media screen and (min-width: 1400px) {
  .article__text {
    margin: 6px 0 0 0;
  }
}

.customers {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
    padding: 30px 0 106px 0;
  }
}
.customers__logo {
  max-width: 80%;
  filter: brightness(0);
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 94px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: 81px 0 0 0;
  margin: auto;
}
.features__subtitle {
  margin: 0;
  line-height: 34px;
  font-weight: 700;
  font-size: 22px;
  color: #009b4d;
}
.features__title {
  width: 462px;
  margin: 24px 0 0 0;
  line-height: 56px;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
}
.features__description {
  width: 461px;
  margin: 0;
  margin: 30px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  color: #2b292d;
}
.features__advantage-header {
  display: flex;
  margin: 42px 15px 0 0;
}
.features__advantage-title {
  margin: 0;
  margin: 0 0 0 15px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 700;
  color: #3142c6;
}
.features__advantage-description {
  width: 459px;
  margin: 8px 0 0 0;
  padding: 0 0 20px 0;
  line-height: 26px;
  font-size: 18px;
  color: #2b292d;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  display: flex;
  margin: 21px 0 44px 0;
  padding: 0 0 21px 0;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
}
.features__advantage-item-text {
  margin: 0 0 0 15px;
  line-height: 26px;
  font-weight: 700;
  font-size: 22px;
  color: #2b292d;
}
.features__img {
  height: 166px;
  position: absolute;
  top: 258px;
}
.features__banner {
  height: 597px;
  position: absolute;
  right: 0;
  box-shadow: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
}

.footer {
  display: flex;
  flex-direction: column;
  margin: auto 0 0 0;
}
.footer-nav {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    height: 338px;
    width: 1140px;
    margin: 0 auto;
  }
}
.footer__description {
  display: none;
  width: 360px;
  margin: 26px 0 25px 0;
  line-height: 26px;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer-links {
  margin: 0 0 0 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    display: flex;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
    width: 1140px;
    margin: 0 auto;
  }
}
.footer-line {
  width: 100%;
  margin: 40px 0 0 0;
  border-top: 1px solid #2b292d;
  opacity: 0.1;
}
@media screen and (min-width: 1400px) {
  .footer-line {
    margin: 0;
  }
}

.about-company {
  margin: 43px 0 0 0;
}

.downloads {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    display: block;
    margin: 0 0 59px 0;
  }
}
.downloads__item {
  margin: 0 10px 0 0;
}
@media screen and (min-width: 1400px) {
  .downloads__item {
    margin: 0 10px 0 0;
  }
}

.additional-nav {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 15px;
}
@media screen and (min-width: 1400px) {
  .additional-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin: 60px 0 0 126px;
  }
}
@media screen and (min-width: 1400px) {
  .additional-nav__column {
    margin: 0 29px 0 0;
  }
}

.nav-links {
  width: 265px;
  margin: 30px 0 0 0;
}
@media screen and (min-width: 1400px) {
  .nav-links {
    margin-top: 0px;
  }
}
.nav-links__title {
  margin: 0;
  margin: 0 82px 0 0;
  line-height: 28px;
  font-weight: 700;
  font-size: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.nav-links__list {
  margin: 0;
  padding: 0;
  margin: 18px 0 0 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
  list-style: none;
}

.terms {
  line-height: 50px;
  margin: 30px 0 30px 0;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin: 0;
    line-height: 50px;
  }
}
.terms__items {
  margin: 0 22px 0 0;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin: 0 20px 23px 0;
}
@media screen and (min-width: 1400px) {
  .social-links__item {
    margin: 0 0 0 20px;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__text {
  margin: 20px 0 31px 0;
}
.logo-vertical__title {
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #2b292d;
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 0 0 15px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .header {
    align-items: center;
    width: 1140px;
    height: 62px;
    margin: auto;
    margin-bottom: 76px;
    background-color: #f3c6bd;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  height: 100%;
  margin-left: auto;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  margin: 5px 0 0 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header .logo__description {
    display: block;
  }
}

.action__button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  border-radius: 2px;
  color: #fff;
  border: none;
}

.nav {
  display: none;
}
@media screen and (min-width: 1400px) {
  .nav {
    display: block;
    margin: 8px 75px 0 auto;
  }
}
.nav__arrow {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin: 0 0 0 11px;
  background-image: url(images/Arrow.png);
  color: #2b292d;
}
.nav__item {
  margin: 0 50px 0 0;
  line-height: 25px;
  font-size: 18px;
  color: #2b292d;
  text-decoration: none;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item_selected {
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 75px 0 0;
}
.logo__image {
  height: 48px;
  width: 48px;
  margin: 0 10px 0 0;
}
.logo_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #2b292d;
    opacity: 0.6;
  }
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 0;
    padding: 0;
  }
}

.top-section {
  background-color: rgb(243, 198, 189);
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    display: flex;
    position: relative;
    width: 1140px;
    margin: auto;
  }
}
.headline__title {
  margin: 0;
  line-height: 50px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    z-index: 1;
    width: 754px;
    height: 165px;
    line-height: 78px;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #2b292d;
  }
}
.headline__content {
  margin: 40px 15px 24px 15px;
  z-index: 1;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 36px;
}
.headline__description {
  z-index: 1;
  width: 290px;
  margin: 24px 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    margin: 0;
    margin: 34px 0 58px 0;
  }
}
.headline__learn-more-btn {
  width: 158px;
  height: 48px;
  margin: 19px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 2px;
  color: #3040c4;
  border: none;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    width: 158px;
    height: 48px;
    margin: 0 0 0 0;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #3040c4;
  }
}

@media screen and (min-width: 400px) {
  .headline__content .headline {
    margin: 84px 0 0 0;
  }
  .headline__actions {
    display: flex;
    margin: 58px 0 0 0;
  }
  .headline-banner {
    position: relative;
    height: 448px;
    width: 796px;
    margin: 0px 0 77px auto;
    right: -105px;
  }
}
.headline__action-btn {
  height: 48px;
  width: 100%;
  padding: 0 0 0 12px;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1400px) {
  .headline__action-btn {
    margin: 0 10px 0 0;
    width: 160px;
  }
}

.tips {
  margin: 8px 0 0 0;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.tip__title {
  margin: 0;
  margin: 17px 0 0 0;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
.tip__description {
  margin: 0;
  margin: 15px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  color: #2b292d;
}
.tip__subtitle {
  line-height: 34px;
  font-size: 22px;
  font-weight: 700;
  color: #009b4d;
}
.tip__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin: 0 0 40px 0;
}
.tip__image {
  margin: 30px 0 0 0;
}
.tip__image-caption {
  max-width: 100%;
  margin: 19px 0 0 0;
  line-height: 22px;
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
}

.order {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    flex-direction: row;
    align-items: flex-start;
    padding: 73px 0 0 224px;
  }
}
.order__illustration {
  max-width: 200px;
  height: 220px;
  margin: 53px auto 0 auto;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    min-width: 269.41px;
    min-height: 296px;
    margin: 0;
    margin: 0 123.59px 0 0;
  }
}
.order__title {
  text-align: center;
  width: 369px;
  margin: 37px 0 0 0;
  color: #2b292d;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  letter-spacing: -0.25px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    text-align: start;
    width: 565px;
    margin: 46px 0 0 0;
    letter-spacing: -0.25px;
  }
}
.order__text {
  width: 369px;
  margin: 18px 0 0 0;
  padding: 0 0 0 50px;
  line-height: 32px;
  font-size: 22px;
  color: #2b292d;
  letter-spacing: 0.75px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    width: 555px;
    margin: 12px 0 0 0;
    padding: 0;
  }
}
.order__email {
  text-align: center;
  height: 48px;
  width: 290px;
  margin: 0;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  background: #ffffff;
  line-height: 13px;
  font-size: 18px;
}
.order__email::placeholder {
  color: rgb(43, 41, 45);
}
@media screen and (min-width: 1400px) {
  .order__email {
    width: 385px;
    flex-shrink: 0;
    margin: 0;
    margin: 0 10px 0 0;
  }
}
.order__button {
  text-align: center;
  width: 290px;
  margin: 12px 0 0 0;
  border-radius: 2px;
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 1400px) {
  .order__button {
    width: 160px;
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .order__button {
    flex-shrink: 0;
  }
}
.order-buttons {
  text-align: center;
  margin: 40px 0 0 0;
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .order-buttons {
    display: flex;
    flex-direction: row;
    margin: 26px 0 0 0;
    padding: 0;
  }
}
.order__terms {
  text-align: center;
  padding: 0px 15px 50px 15px;
  color: rgba(43, 41, 45, 0.6);
  line-height: 22px;
  font-size: 14px;
  letter-spacing: 0.99px;
}
@media screen and (min-width: 1400px) {
  .order__terms {
    margin: 10px 0 0 0;
    padding: 0 0 105px 0;
  }
}
.order__link {
  color: #3142c6;
}

.inbox {
  padding: 50px 15px 48px 15px;
  background-color: #fcf0e3;
}
@media screen and (min-width: 1400px) {
  .inbox {
    display: flex;
    padding: 0;
    padding: 0px 0px 101px 193px;
    margin: 103px 0 0 0;
  }
}
.inbox__figure {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .inbox__content {
    padding: 115px 0 0 0;
    max-width: 519px;
  }
}
.inbox__img {
  max-width: 290px;
  margin: 0 0 32px 0;
}
@media screen and (min-width: 1400px) {
  .inbox__img {
    min-width: 425px;
    height: 510px;
    margin: 142px 0 0 0;
  }
}
.inbox__title {
  margin: 0;
  margin: 0 0 17px 0;
  line-height: 34px;
  font-size: 22px;
  font-weight: 700;
  color: #f1592b;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    margin: 0;
    margin: 0 0 24px 192px;
  }
}
.inbox__subtitle {
  margin: 0;
  margin: 0 0 18px 0;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    margin: 0;
    margin: 0 0 30px 190px;
  }
}
.inbox__description {
  line-height: 34px;
  font-size: 24px;
  color: #2b292d;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    margin: 0;
    margin: 0 0 44px 192px;
    width: 461px;
    word-spacing: 7px;
    letter-spacing: 0px;
  }
}
.inbox-comment {
  padding: 30px 20px 0px 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .inbox-comment {
    min-width: 519px;
    margin: 0 0 0 164px;
  }
}
.inbox-comment__text {
  margin: 0;
  line-height: 28px;
  font-size: 20px;
  color: #2b292d;
  word-spacing: 3px;
}
.inbox-comment__text-span {
  font-weight: 700;
}
.inbox-comment__block {
  display: flex;
}
.inbox-comment__img-block {
  margin: 0 11px 0 0;
  padding: 28px 0 52x 0;
}
.inbox-comment__img {
  max-width: 40px;
  height: 40px;
}
.inbox-comment-content {
  padding: 26px 0 0 0;
}
.inbox-comment__username {
  margin: 0;
  line-height: 22px;
  font-weight: 700;
  color: #2b292d;
}
.inbox-comment__user-info {
  margin: 0;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.inbox__border {
  width: 100%;
  height: 4px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #0185d0;
}
@media screen and (min-width: 1400px) {
  .inbox__border {
    min-width: 519px;
    margin: 0 0 0 164px;
  }
}
.inbox__figcaption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__figcaption {
    display: block;
    padding: 0 0 0 71px;
    line-height: 22px;
    font-size: 14px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.communication {
  padding: 50px 15px 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    padding: 110px 130px 110px 126px;
  }
}
.communication__title {
  margin: 0;
  line-height: 34px;
  font-size: 22px;
  font-weight: 700;
  color: #0189d1;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    margin: 13px 0 0 0;
  }
}
@media screen and (min-width: 1400px) {
  .communication__block {
    display: flex;
  }
}
.communication__subtitle {
  margin: 0;
  margin: 17px 0 0 0;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .communication__subtitle {
    width: 462px;
    margin: 24px 0 0 0;
    line-height: 56px;
    font-size: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__description {
  margin: 0;
  margin: 18px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  color: #2b292d;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 1400px) {
  .communication__description {
    width: 461px;
    margin: 30px 0 0 0;
  }
}
.communication__button {
  margin: 30px 0 0 0;
}
@media screen and (min-width: 1400px) {
  .communication__button {
    width: 160px;
    margin: 39px 0 0 0;
  }
}
.communication__figure {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .communication__figure {
    display: flex;
    flex-direction: column;
    min-width: 425px;
    margin: 0;
    margin: 0 0 0 auto;
  }
}
.communication__figure-pic {
  margin: 40px 0 0 0;
}
@media screen and (min-width: 1400px) {
  .communication__figure-pic {
    min-width: 425px;
    margin: 0;
    margin: 0 63px 0 0;
  }
}
.communication__figure-text {
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .communication__figure-text {
    margin: 0;
    margin: 15px 0 0 0;
  }
}
.communication__border {
  width: 100%;
  height: 1px;
  margin: 40px 0 33px 0;
  background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1400px) {
  .communication__border {
    margin: 0 0 41px 0;
  }
}

.advantages:nth-child(2) {
  padding: 33px 0 0 0;
}
@media screen and (min-width: 1400px) {
  .advantages:nth-child(2) {
    margin: 0 30px;
    padding: 0;
  }
}

.advantages:last-child {
  padding-top: 32px;
}
@media screen and (min-width: 1400px) {
  .advantages:last-child {
    padding-top: 0;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
}
.advantages__description {
  width: 360px;
  margin: 0;
  padding: 0 0 10px 0;
  line-height: 26px;
  font-size: 18px;
  color: #2b292d;
  letter-spacing: -0.5px;
}
.advantages__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .advantages__content {
    display: flex;
  }
}

.audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 161, 198, 0.07);
}
.audience__title {
  margin: 0;
  padding: 49px 0 17px 0;
  line-height: 34px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    padding-top: 108px;
    padding-bottom: 0px;
  }
}
.audience__subtitle {
  width: 290px;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__subtitle {
    width: 555px;
    margin: 24px 0 0 0;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  text-align: center;
  width: 290px;
  margin: 0;
  margin: 18px 0 0 0;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    width: 555px;
    margin: 30px 0 0 0;
    letter-spacing: 0.25px;
  }
}
.audience-buttons {
  display: flex;
  flex-direction: column;
  min-width: 290px;
}
@media screen and (min-width: 1400px) {
  .audience-buttons {
    flex-direction: row;
    width: 328px;
    margin: 34px 0 0 0;
  }
}
.audience__action-button {
  min-width: 290px;
  height: 48px;
  margin: 30px 0 0 0;
  background-color: #3040c4;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
}
@media screen and (min-width: 1400px) {
  .audience__action-button {
    flex-shrink: 1;
    min-width: 160px;
    margin: 0 10px 0 0;
  }
}
.audience__img {
  width: 138px;
  padding: 22px 0 0 0;
}

.learn-more-btn {
  height: 48px;
  margin: 12px 0 0 0;
  background-color: #fff;
  border-radius: 2px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  border: none;
}
@media screen and (min-width: 1400px) {
  .learn-more-btn {
    width: 158px;
    margin: 0 0 10px 0;
  }
}

.img-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 290px;
  margin: 40px auto 0 auto;
}
@media screen and (min-width: 1400px) {
  .img-block {
    width: 1139px;
    flex-direction: row;
    margin: 0;
    padding: 111px 0 110px 0;
  }
}
.img-block__item {
  width: 290px;
  margin: 0 0 15px 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .img-block__item {
    height: 300px;
    margin: 0;
    margin: 0 30px 0 0;
  }
  .img-block__item:last-child {
    margin: 0;
  }
}
.img-block__item:last-child {
  margin: 0 0 50px 0;
}
.img-block__item:hover {
  cursor: pointer;
  background-color: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.img-block__item:hover .img-block__text {
  color: #fff;
  line-height: 28px;
}
.img-block__text {
  margin: 0;
  margin: 22px 0 33px 0;
  line-height: 28px;
  font-weight: 700;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}



/*# sourceMappingURL=styles.css.map */
