.about {
   width: 100%;
  background-color: #f4f5f7;
 
  padding: 44px 15px;
  @include for-large-up {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 131px;
  }
}
.article {
  @include for-large-up {
    width: 555px;
    padding-top: 77px;
    padding-bottom: 76px;
    margin-right: 29px;
  }
  &:last-child {
    margin-top: 20px;
    @include for-large-up {
      margin-top: 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
   padding-top: 10px;
  }
  &__text {
    padding-top: 8px;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    @include for-large-up {
      margin-top: 6px;
    }
  }
}
