.about {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: #f4f5f7;
  padding-left: 130px;
  padding-right: 131px;
}
.article {
  width: 555px;
  padding-top: 77px;
  padding-bottom: 76px;
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 6px;
}
