.audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 161, 198, 0.07);

  &__title {
    padding: 49px 0 17px 0;
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2b292d;
    @include for-large-up {
      padding-top: 108px;
      padding-bottom: 0px;
    }
  }
  &__subtitle {
    margin: 0;
    width: 290px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    color: #2b292d;
    @include for-large-up {
      width: 555px;
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
  &__description {
    width: 290px;
    margin: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;

    color: #2b292d;
    @include for-large-up {
      width: 555px;
      margin-top: 30px;
    }
  }
  &-buttons {
    min-width: 290px;

    @include for-large-up {
      width: 328px;
      margin-top: 34px;
    }
  }
  &__action-button {
    min-width: 290px;
    height: 48px;
    margin-top: 30px;

    background-color: #3040c4;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    @include for-large-up {
      min-width: 160px;
      flex-shrink: 1;
      margin-top: 0;
    }
  }
  &__img {
    width: 138px;
    padding-top: 22px;
  }
}

.learn-more-btn {
  height: 48px;
  background-color: #fff;
  border-radius: 2px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  border: none;
  margin-top: 12px;
  @include for-large-up {
    width: 158px;
    margin-top: 0;

    margin-left: 10px;
  }
}
.img-block {
  width: 290px;
  text-align: center;
  padding-bottom: 50px;
  margin: 40px auto 0 auto;

  @include for-large-up {
    width: 1139px;
    margin: 0;
    padding-top: 111px;
    padding-bottom: 110px;
  }

  &__item {
     width: 290px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 15px;
   
    @include for-large-up {
      height: 300px;
      margin: 0;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: #3141c5;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
        0px 11px 55px rgba(0, 0, 0, 0.07);
      .img-block__text {
        color: #fff;
        line-height: 28px;
      }
    }
  }
  &__text {
    margin: 0;
    margin-top: 19px;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
}
