.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 0px;
  @include for-large-up {
    width: 1140px;
    height: 62px;
    margin: auto;
    margin-bottom: 76px;
    padding-top: 39px;
    display: flex;
    background-color: #f3c6bd;
  }
  &__button {
    display: none;
    @include for-large-up {
      display: block;
    }
  }
  &__menu-button {
    padding-left: 8px;
    padding-top: 9px;
    width: 58px;
    border: none;
    border-left: 1px solid #00000026;
    height: 100%;
    margin-left: auto;
    background: transparent;
    @include for-large-up {
      display: none;
    }
  }
  &__menu-icon {
    width: 18px;
    height: 13px;
    background-image: url(/images/header-icon.png);
    display: inline-block;
  }
  .logo__description {
    display: none;
    @include for-large-up {
      display: block;
    }
  }
}

.action__button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.nav {
  display: none;
  @include for-large-up {
    display: block;
    margin-left: auto;
    margin-right: 75px;
    margin-top: 8px;
  }
  &__arrow {
    background-image: url(images/Arrow.png);
    width: 8px;
    height: 5px;
    display: inline-block;
    margin-left: 11px;
    color: #2b292d;
  }
  &__item {
    color: #2b292d;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    &_selected {
      font-weight: 700;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  &__image {
    width: 26.4px;
  }
  &__image-block {
    height: 49px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 3px 5px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px 10.64px 0 13.2px;
    margin-right: 12px;
  }
  &_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
  
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 5.7px;
  }
  &__description {
    @include for-large-up {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      color: #2b292d;
      opacity: 0.6;
      display: block;
    }
  }
  &__image {
    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
      padding-left: 0;
    }
  }
}
