.headline {
  width: 100%;
  @include for-large-up {
    width: 1140px;
    margin: auto;
    position: relative;
    display: flex;
  }
  &__title {
    letter-spacing: -0.3125px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    @include for-large-up {
      width: 754px;
      height: 165px;
      font-weight: 700;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      color: #2b292d;
      z-index: 1;
    }
  }
  &-content {
    margin: 40px 15px 24px 15px;
    z-index: 1;
    @include for-large-up {
      position: absolute;
      z-index: 1;
      margin: 0;
    }
  }
  &-banner {
    width: 100%;
    margin-top: 10px;

    margin-bottom: 36px;
  }

  &__description {
    width: 290px;
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;

    @include for-large-up {
      width: 456px;
      margin: 0;
      margin-top: 34px;
      margin-bottom: 58px;
    }
  }
  &__learn-more-btn {
    width: 158px;
    height: 48px;
    background-color: #fff;
    border-radius: 2px;
    color: #3040c4;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin-top: 19px;
    @include for-large-up {
      width: 158px;
      height: 48px;
      background-color: #fff;
      border-radius: 2px;
      color: #3040c4;
      font-size: 18px;
      font-weight: 700;
      border: none;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 400px) {
  .headline-content .headline {
    margin-top: 84px;
  }

  .headline__actions {
    margin-top: 58px;
    display: flex;
  }

  .headline-banner {
    height: 448px;
    margin-top: 0px;
    position: relative;
    margin-left: auto;
    right: -105px;
    width: 796px;
    margin-bottom: 77px;
  }
}

.headline__action-btn {
  height: 48px;
  width: 100%;
  padding-left: 12px;
  letter-spacing: 0.6px;
  @include for-large-up {
    width: 160px;
    margin-right: 10px;
  }
}
