.order {
  background-color: #f4f5f7;
  @include for-large-up {
    padding-top: 73px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__illustration {
    margin: 50px 60px 0 60px;
    max-width: 200px;
    height: 220px;
    @include for-large-up {
      margin: 0;
      max-width: 269.41px;
      margin-right: 123.59px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    color: #2b292d;
    @include for-large-up {
     margin-top: 33px;
    }
  }
  &__text {
    margin-top: 18px;
    font-size: 22px;
    line-height: 32px;
    width: 290px;
    color: #2b292d;
    letter-spacing: 1px;
    padding-left: 15px;
    margin-bottom: 0px;
    @include for-large-up {
      margin-top: 12px;
      width: 555px;
    }
  }
  &__email {
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    height: 48px;
    width: 290px;
    margin: 40px 15px 0px 15px;
    &::placeholder {
      color: rgba(43, 41, 45, 1);
    }
    @include for-large-up {
      margin-top: 26px;
      width: 385px;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
  &__button {
    margin: 12px 15px 0px 15px;
  
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    color: #ffffff;
    width: 290px;
    @include for-large-up {
      margin: 0;
    }
    @include for-large-down {
      flex-shrink: 0;
    }
  }
  &__terms {
    padding: 10px 15px 50px 15px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    @include for-large-up {
      margin-top: 10px;
      margin-bottom: 0;
      padding-bottom: 105px;
    }
  }
  &__link {
    color: #3142c6;
  }
}
